services:
  mongo:
    image: mongo:7
    container_name: kalbii-mongo
    volumes:
      - mongo-data:/data/db
    restart: always
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: kalbii-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: kalbii-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:

